{% extends 'base.html' %}

{% block content %}
<h1>{% block name %} Edit "{{ product['name'] }}" {% endblock %}</h1>

<form method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="product name"
               class="form-control"
               value="{{ request.form['name'] or product['name'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" placeholder="Product description"
               class="form-control"
               value="{{ request.form['description'] or product['description'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="cost">Cost</label>
        <input type="number" name="cost" placeholder="Product cost"
               class="form-control"
               value="{{ request.form['cost'] or product['cost'] }}">
        </input>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" name="is_active" type="checkbox" value="1" id="is_active" {{ "checked" if request.form['is_active'] or product['is_active'] else "" }}>
            <label class="form-check-label" for="is_active">
              Is active
            </label>
          </div>
    </div>

    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>
<hr>

<form action="{{ url_for('deleteproduct', id=product['id']) }}" method="POST">
    <input type="submit" value="Delete product"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this product?')">
</form>

{% endblock %}